.footer {
    background-color: #1055DB;
    padding: 2rem;
    color: #FFFFFF;
    width: 100%;

    .footer-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and(max-width:690px) {
                // display: flex;
                flex-wrap: wrap-reverse;
                justify-content: start;
            }

        p {
            font-size: 1rem;
        }

        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }

    .copyright {

        width: 80%;
        margin: 1rem auto;
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: smaller;
    }

    @media screen and(max-width:480px) {
        // display: flex;
        flex-wrap: wrap;
    }
}