.footer {
    background-color: #2068B0;
    padding: 2rem;
    color: #dddcdc;
    // width: 100%;
    .footLinks{
        color: #dddcdc;
        text-decoration: none;
        display: block;
        margin-bottom: 1rem;
    }
    .footer-content {
        width: 80%;
        margin: 0 auto;
        display: grid;
        // gap: 1rem;
        justify-content: center;


        p {
            font-size: 1rem;
        }
        h3{
            color: #EC5962;
        }

        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 1rem;
            .footerlogo{
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 80%;
                // margin:  auto;

                @media only screen and (max-width: 600px) {
                        
                    }
            }

            a {
                color: #dddcdc;
                text-decoration: none;

                i{
                    color: #EC5962;
                }
            }
            .fa-location{
color: #EC5962;
            }
        }

        @media only screen and (min-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
    }

    .copyright {

        width: 80%;
        margin: 1rem auto;
        display: grid;
        // justify-content: center;
        text-align: center;
        font-size: smaller;
    }


         .links {
             display: flex;
            //  justify-content: center;
             align-items: center;
             gap: 1rem;
    
            //  @media screen and (min-width: 600px) {
            //      gap: 3rem;
            //  }
    
             a {
                 color: #EC5962;
                 text-decoration: none;
    
             }
    
         }


}