.footer{
    background-color: #1055DB;
    padding: 2rem;
    color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    .footer-content{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            font-size: 1rem;
        }
        .footer-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            a{
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    .copyright{

        width: 80%;
        margin: 1rem auto;
      display: grid;
      justify-content: center;
      text-align: center;
      font-size:smaller;
    }
}