.graphics{
    // background-color: #f2f2f2;
    .graphics-content{
        display: flex;
        
            justify-content: space-evenly;
            gap: 2rem;
            width: 80%;
            margin: 1rem auto;
            padding: 2rem 0;

           .graphics-right{
            img {
                    width: 100%;
                    height: auto;
                }
           }
            .graphics-left{
                display: grid;
                flex-direction: column;
                align-items: space-between;

                h2{
                    color: #1055db;
                }
                p{
                    font-size: 1.3rem;
                    color: rgba(0, 0, 0, 0.7);
                }

                .web-graphicss{
                    display: flex;
                    gap: 3rem;
                    // justify-content: space-evenly;
                }
                .tech-stack{
                    margin: 1rem 0;

                    img:hover{
                        transform: scale(1.1, 1.1);
                    }
                }
            }
    }
}