.hero {

    width: 80%;
    margin: .5rem auto;
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    // align-items: center;
  


  img {
    height: auto;
    width: 70%;
  }
  @media screen and (max-width: 1100px) {
    img {
      height: auto;
      width: 80%;
      align-self: flex-end;
    }

    a {
      display: none;
    }
  }
  @media screen and (max-width: 850px) {
    img {
      height: auto;
      width: 80%;
      align-self: flex-end;
    }
    a {
      display: none;
    }
  }

    @media screen and (max-width: 850px) {
      img{
        width: 80%;
      }
    }

  @media screen and(max-width:480px) {
    // background-image: url(../assests/hero.svg);
    // background-position: bottom right;
    // background-size: 50%;
    // background-repeat: no-repeat;

    flex-wrap: wrap;
     
    .hero-right{
      justify-content: end;
      img {
          height: auto;
          width: 20%;
        
        }
    }
    a {
      display: block;
    }
  }

  .hero-left {
    h1 {
      color: #1055db;
      font-size: 3.2rem;
    }

    p {
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.5rem;
      padding: 3rem 0;
      @media screen and(max-width:480px) {
        padding: 0;
        margin: 1rem   0;
        
      }
    }

    .btns {
      display: flex;
      gap: 1rem;
      align-items: center;

      a {
        text-decoration: none;
        border: 1px solid #1055db;
        border-radius: 5px;
        padding: 0.5rem 1rem;

        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}
