.Button {
    // color: #FFFFFF;
    // // padding: .4rem 1rem;
    // // background-color: #2068B0;
    // width: fit-content;
    // border-radius: 5px;
    
    a{
        background-color: #3673b0;
        color: #FFFFFF;
        &:hover {
                transform: scale(1.1, 1.1);
            }

            i{
                color:  rgba(227, 6, 19, 1);;
            }
    }
    
    
   

}

