.partners {
    .partners-content {
        // display: flex;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2rem;

        .partners-bottom {
            display: flex;
            justify-content: center;
            gap: 1.25rem;

            // .join {
            //     border: 1px solid #1055DB;
            //     height: 130px;
            //     width: 150px;
            //     border-radius: 5px;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            //     align-items: center;
            //     color: #1055DB;
            //     font-size: 1.225rem;

            //     p {
            //         margin: 0;
            //     }

            //     @media screen and (max-width:850px) {
            //         .join {
            //             height: 100%;
            //             width: 20%;
            //         }
            //     }
            // }

            .the-partners {
                display: flex;
                justify-content: space-between;
                gap: 2rem;

                img {
                    width: 100%;
                    height: auto;
                }

            }
                         @media screen and (max-width:850px) {
                             .the-partners {
                                 gap: .5rem;
            
                                 img {
                                     width: 70%;
                                 }
                             }
                         }
        }
    }
}