.web {
  background-color: rgba(237, 242, 252, 0.5);

  h2 {
    color: #2068b0;
  }

  .web-content {
    display: grid;
    gap: 2rem;
    width: 80%;
    margin: 1rem auto;
    padding: 2rem 0;

    .web-left {
      img {
        width: 100%;
        height: auto;
      }
    }

    .web-right {
      display: grid;
      flex-direction: column;
      align-items: space-between;

      .web-title {
        display: none;
      }

      p {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.7);
      }

      .web-services {
        display: flex;
        gap: 3rem;

        // justify-content: space-evenly;
        .right {
          text-align: left;
          display: grid;
          grid-template-columns: 1fr 1fr;

          // position: relative;
          flex-wrap: wrap;
          width: 100%;
          //   img {
          //   }

          // p {
          //     cursor: pointer;
          //     display: flex;
          //     font-size: medium;
          //     gap: .5rem;
          //     width: 100%;
          //     margin: 0;
          //     margin-top: .5rem;
          //     align-items: center;
          //     z-index: 2;
          //     // position: relative;

          // }
          .item {
            // position: relative;
            // z-index: 1;
            cursor: pointer;
            display: flex;
            font-size: medium;
            border-radius: 5px;
            gap: 0.5rem;
            width: 85%;
            margin: 0;
            margin-top: 0.5rem;
            padding-bottom: 10px;
            align-items: center;
           s

            .icon {
              margin: 0;
              position: relative;
              z-index: 1;
            }

            .collapse {
              justify-content: center;
              position: relative;
              z-index: 1;
              color: red;
            }
            
            .dropdown {
              background-color: #ffffff;
              opacity: 1;
              z-index: 6;
              border: rgba(232, 48, 58, 0.35) 2px solid;
              border-radius: 5px;
              padding: 0.8rem;
              width: 85%;
              margin: 0 auto;
              font-size: small;
              color: black;
              box-shadow: 2px 2px 4px 1px rgba(232, 48, 58, 0.15);
              position: absolute;
              top: 35px;
              margin-top: 0.5rem;
            }

            &:hover {
              background-color: rgba(232, 48, 58, 0.15);
              // margin-bottom: 1.2rem;
            }
          }
        }
      }

      .tech-stack {
        margin: 1rem 0;
        margin-bottom: 2rem;
        .stack-image {
          position: relative;
          z-index: 1;
        }
        img:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }

  @media screen and (min-width: 600px) {
    .web-content {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
      align-items: center;

      .web-left {
        img {
          width: 100%;
          height: auto;
        }

        h2 {
          // display: none;
        }
      }

      .web-right {
        width: 50%;

        h2 {
          display: block;
        }
      }
    }
  }
}
