.socials {
    background-color: #f2f2f2;

    h2 {
        color: #1055db;
    }

    .socials-content {
        display: grid;
        gap: 2rem;
        width: 80%;
        margin: 1rem auto;
        padding: 2rem 0;

        .socials-left {
            img {
                width: 80%;
                height: auto;
            }
        }

        .socials-right {
            display: grid;
            flex-direction: column;
            align-items: space-between;

            .title {
                display: none;
            }


            p {
                font-size: 1.3rem;
                color: rgba(0, 0, 0, 0.7);
            }

            .social-services {
                display: flex;
                gap: 3rem;

                // justify-content: space-evenly;
                .right {
                        text-align: left;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        // gap: 1rem;
                        flex-wrap: wrap;
                        width: 100%;
                
                        p {
                            cursor: pointer;
                            // height: fit-content;
                            display: flex;
                            font-size: medium;
                            gap: .5rem;
                            width: 100%;
                            margin: 0;
                            margin-top: .5rem;
                
                
                        }
                
                        .dropdown {
                            border: #1055db 1px solid;
                            border-radius: 5px;
                            padding: 1rem;
                            width: 80%;
                            margin: .5rem auto;
                            color: black;
                            box-shadow: 2px 2px 4px 1px rgba(16, 85, 219, 0.25);
                        }
                
                        .collapse {
                            justify-content: center;
                            // margin-left: 1rem;
                            display: flex;
                            // border: 1px solid #1055db;
                
                            // &:hover{
                            //     display: flex;
                            // }
                        }
                
                
                    }
            }

            .tech-stack {
                margin: 1rem 0;
                margin-bottom: 2rem;

                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }

    }

    @media screen and (min-width:600px) {
        .socials-content {
            display: flex;

            justify-content: space-evenly;
            gap: 2rem;
            align-items: center;

            .socials-left {
                img {
                    width: 100%;
                    height: auto;
                }

                h2 {
                    display: none;
                }
            }

            .socials-right {
                width: 50%;

                h2 {
                    display: block;
                }
            }
        }
    }

    // .service-content{

    //     display: flex;
    //         justify-content: space-evenly;
    //         gap: 2rem;
    //         width: 80%;
    //         margin: 1rem auto;
    //         padding: 2rem 0;

    //        .service-left{
    //         img {
    //                 width: 100%;
    //                 height: auto;
    //             }
    //        }
    //         .service-right{
    //             display: grid;
    //             flex-direction: column;
    //             align-items: space-between;

    //             h2{
    //                 color: #1055db;
    //             }
    //             p{
    //                 font-size: 1.3rem;
    //                 color: rgba(0, 0, 0, 0.7);
    //             }

    //             .socials-services{
    //                 display: flex;
    //                 gap: 3rem;
    //                 // justify-content: space-evenly;
    //             }
    //             .tech-stack{
    //                 margin: 1rem 0;

    //                 img:hover{
    //                     transform: scale(1.1, 1.1);
    //                 }
    //             }
    //         }

    // }

}