.aboutpage {
  font-family: "Montserrat", sans-serif;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
.aboutpage .top img {
  width: 100%;
  height: auto;
}
.aboutpage .top .aboutDetails {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
.aboutpage .top .aboutDetails .title {
  display: none;
}
.aboutpage .top .aboutDetails p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.9);
  /* Small devices (portrait tablets and large phones, 600px and up) */
}
@media only screen and (min-width: 600px) {
  .aboutpage .top .aboutDetails p {
    font-size: 2rem;
    text-align: center;
  }
}
.aboutpage .aboutUs img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 600px) {
  .aboutpage .aboutUs img {
    width: 60%;
  }
}
.aboutpage .aboutUs h1 {
  color: #1055db;
  font-size: 2rem;
}
.aboutpage .aboutUs p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}
.aboutpage .aboutUs .cont .aboutDetails {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.aboutpage .aboutUs .cont .aboutDetails .tinted-left {
  display: flex;
  justify-content: center;
}
.aboutpage .aboutUs .cont .aboutDetails .details {
  padding-top: 3rem;
}
.aboutpage .aboutUs .cont .aboutDetails .details h1 {
  display: none;
}
.aboutpage .aboutUs .cont .aboutDetails .details .icons {
  display: grid;
  gap: 1rem;
}
@media only screen and (min-width: 600px) {
  .aboutpage .aboutUs .cont .aboutDetails .details .icons {
    display: flex;
  }
}
.aboutpage .aboutUs .cont .aboutDetails .details .icons img {
  height: 48px;
  width: 48px;
}
.aboutpage .aboutUs .cont .aboutDetails .details .icons p {
  font-weight: 600;
  font-size: medium;
}
.aboutpage .aboutUs .cont .aboutDetails .details .icons .icon-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.aboutpage .aboutUs .cont .t-tails {
  flex-direction: row-reverse;
}
.aboutpage .aboutUs .creative img {
  width: 100%;
  height: auto;
}
.aboutpage .aboutUs .tinted {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.7);
  /* Small devices (portrait tablets and large phones, 600px and up) */
}
@media only screen and (min-width: 600px) {
  .aboutpage .aboutUs .tinted img {
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .aboutpage .cont .aboutDetails .container {
    display: flex;
    justify-content: center;
  }
  .aboutpage .cont .aboutDetails .container img {
    -o-object-fit: fill;
       object-fit: fill;
    width: 80%;
  }
  .aboutpage .cont .aboutDetails .container .details {
    width: 70%;
  }
  .aboutpage .cont .aboutDetails .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
  }
  .aboutpage .tinted .container {
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=About-style.css.map */