.aboutpage {
    font-family: 'Montserrat', sans-serif;
   

    .top {
        img {
            width: 100%;
            height: auto;
        }

                .aboutDetails{
                    margin: 0 auto;
                    width: 80%;
                    text-align: left;

                    .title{
                        display: none;
                    }
                    p{
                        font-size:1.3rem;
                            color: rgb(0, 0, 0, 0.9);

                            /* Small devices (portrait tablets and large phones, 600px and up) */
                                @media only screen and (min-width: 600px) {
                                    font-size: 2rem;
                                    text-align: center;
                                }
                    }
                    
                }
    }


    .aboutUs {
        img {
            width: 80%;
            height: auto;
        }

        h1 {
            color: #1055db;
            font-size: 2rem;
        }

        p {
            font-size: 1.3rem;
            color: rgb(0, 0, 0, 0.7);
        }

        .cont {
            .aboutDetails {
                width: 80%;
                margin: 0 auto;
                padding: 2rem 0;

                .tinted-left{
                    display: flex;
                    justify-content: center;
                }

                .details {
                    // align-self: center;
                    padding-top: 3rem;

                    h1 {
                        display: none;
                    }

                    .icons {
                        display: grid;
                        gap: 1rem;
                        @media only screen and (min-width: 600px) {
                                display: flex;
                            }
                        img {
                            height: 48px;
                            width: 48px;
                        }

                        p {
                            font-weight: 600;
                            font-size:medium;
                        }



                        .icon-details {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                        }
                    }
                }
            }

            .t-tails {
                flex-direction: row-reverse;
            }
        }

        .creative {
            // background-image: url(../Assets/creative.svg);
            img {
                width: 100%;
                height: auto;
            }
        }


        .tinted {
            background-color: #f2f2f2;

            color: rgb(0, 0, 0, 0.7);
            /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (min-width: 600px) {
                    img {
                            margin-left: 3rem;
                        }
                }
          
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {}

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {}

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {

        .cont {


            .aboutDetails {
                .container {
                    display: flex;
                    justify-content: center;
                    // justify-content: space-evenly;

                    img {
                        object-fit: fill;
                        width: 80%;
                    }

                    .details {
                        width: 70%;
                    }
                }

                .icons {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 4rem;
                }

            }
        }

        .tinted {
            .container {
                flex-direction: row-reverse;
            }
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {}

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {}

}