.pricing{
    width: 80%;
    margin: 2rem auto;
    text-align: center;

    .plan{
        font-weight: 400;
        font-size:xx-large;
    }
    nav{
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        gap: .5rem;

        button{
            &:hover{
                transform: scaleY(1.1);
            }
        }
    }

    .card_container{
        margin-top: 1rem;
        display: grid;
        gap: 1rem;
        justify-content: center;
        // @media screen and (min-width:4px) {
            grid-template-columns: repeat(auto-fill, 350px);
                
            // }
        .card{
            border: 1px solid #abbfe4;
            max-width: 320px;
            padding: 1rem 1rem;
            border-radius: 4px;
            text-align: center;
            
            &:hover{
                transform: scalex(1.02);
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            }

            
            .card_title {
                    color: #2068b0;
            }
            .card_description{
                .kes{
                    font-weight: 400;
                    font-size: small;
                }
                    font-weight: 600;
                    font-size: x-large;
                    margin: 0;
            }
            .list{
                text-align: left;
                list-style-type: none;
                padding: 2px;
                
                .items{
                    display: flex;
                    gap: 4px;
                    i{
                        margin-top: 4px;
                        color: #e8303a;
                        padding-right: 4px;
                    }
                }
                li{
                    margin-bottom: 12px;

                }
            }
        }
    }
    
}