.partner {
    // border: 1px solid #2068B0;
    height: 130px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2068B0;
    font-size: 1.225rem;
    background-color: #B8CCF5;
    border: none;


}