.social-container {
   
    background-color: #2068B0;
    padding: 1rem 0;
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @media screen and (min-width: 600px) {
                gap: 3rem;
            }
       
        
        

    
a{
    color: #FFFFFF;
    text-decoration: none;
    @media screen and (min-width: 600px) {
            .fa{
                font-size: larger;
                &:hover {
                        transform: scale(1.4, 1.4);
                    }
            }
        }
    }



      


    }
}

