.customer {
    margin: 2rem auto;
min-height: 500px;
    

    .customer-content {
        width: 80%;
        margin: 0 auto;
        display: grid;
        gap: 1rem;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
                color: rgb(0, 0, 0, 0.8);
            }
        }

        .cards {
       
            
            gap: 2rem;
            width: 100%;
            padding-left: 2rem;
      
            color: rgb(0, 0, 0, 0.7);
            display: flex;
            overflow-x: scroll;
            flex-wrap: nowrap;
            scroll-behavior: smooth;
            /* hide scrollbar */
                scrollbar-width: none;
                
                    // -webkit-scrollbar: {
                    //     width: 0;
                    //     height: 0;
                    // }
                // scroll-snap-type: x mandatory;
        }
    }


}

