.customer {
    margin: 2rem auto;

    .customer-content {
        width: 90%;
        margin: 0 auto;
        display: grid;
        gap: 1rem;

        .title {
            h2 {
                text-align: center;
                color: #2068B0;
            }
        }

        .cards {
            display: flex;
            justify-content: center;
            gap: 2rem;
flex-wrap: wrap;
color: rgb(0, 0, 0, 0.7);
            
        }
    }


}