@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
   line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(..//public/home.png);

    
    
}

code {
  font-family: 'Montserrat', sans-serif;
}
