.contact {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
    background-image: url(../Assests/background.svg);
    background-size: cover;

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        flex-direction: row;
        align-items: center;
        width: 100%;


        .left {
            width: 80%;
            display: grid;
            justify-content: start;
            gap: 1.5rem;

            p {
                text-align: left;
            }
                           @media only screen and (min-width: 992px) {
                        justify-content: center;
                        // width: 0%;
                        }

        }


    }

    // background-image: url(../Assests/background.svg);


    .contact-top {
        text-align: center;

        p {
            a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    .contact-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.3rem;

        @media only screen and (min-width: 600px) {
            display: none;
        }

        // display: none;
    }

    .follow {
        text-align: center;
        font-weight: 600;
        margin: 0;
        padding-bottom: .5rem;
    }

    .social-icon {
        display: flex;
        justify-content: space-around;
        margin:0 0 1rem  0;
        padding: 1rem;
        border-radius: 4px;
        border: 2px solid hsla(220, 75%, 84%, 0.3);

        a {
            text-decoration: none;
            color: #EC5962;
        }

    }

    .call-form {
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.7);
        font-size: 12px;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 12px;

            p {
                text-align: center;
                font-weight: 600;
                margin: 0;
            }

            input {
                height: 2.6rem;
                    width: 90%;
                    background: rgba(184, 204, 245, .3);
                    border-radius: 4px;
                    border: 1px solid rgba(184, 204, 245, .3);
                    padding: 0 1rem;
                    font-size: medium;
                    font-weight: 500;

                &:focus {
                    outline: none;
                }
            }

            .callme {
                width: fit-content;
                padding: .3rem 1.5rem;
                background-color: rgb(232, 48, 58);
                border: none;
                color: #FFFFFF;
                border-radius: 4px;
                align-self: center;
            }

        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            // justify-content: start;


            justify-content: space-evenly;
            

            .follow{
                margin: 0;
            }
            form {
                align-items: start;

                p {
                    text-align: left;
                    font-weight: 500;
                }

                input {
                    // width: 150%;
                }

            }

        }





    }

    h2 {
        text-align: left;
    }

    .mail-form {

        color: rgba(0, 0, 0, 0.7);
        font-size: 12px;
        width: 80%;
        margin: 1rem auto;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;


            p {
                margin: 0;
            }

            input {
                height: 2.6rem;
                width: 90%;
                        background: rgba(184, 204, 245, .3);
                border-radius: 4px;
            border: 1px solid rgba(184, 204, 245, .3);
                padding: 0 1rem;
                font-size: medium;
                font-weight: 500;



                &:focus {
                    outline: none;
                }
            }

            .row {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                width: 100%;

                @media only screen and (min-width: 600px) {
                    flex-direction: row;
                }

            }

            .callme {
                width: fit-content;
                padding: .3rem 1.5rem;
                background-color: rgb(232, 48, 58);
                border: none;
                color: #FFFFFF;
                border-radius: 4px;

            }

            textarea {
                width: 100%;
                        background: rgba(184, 204, 245, .3);
                border-radius: 4px;
                color: rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(184, 204, 245, .3);
                // padding: 0 1rem;
                &:focus {
                    outline: none;
                }
            }


        }

    }

    .mail-form {
        @media only screen and (min-width: 992px) {
            width: 50%;
        }
    }

}

@media only screen and (min-width: 992px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;

        .contact-icon {
            background-color: #FFFFFF;
            display: none;
        }



    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .mail-form {
        .row {
            flex-direction: row;


        }
    }

    .contact-icon {
        display: none;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}