.contact {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  background-image: url(../Assests/background.svg);
  background-size: cover;
  /* Large devices (laptops/desktops, 992px and up) */
}
@media only screen and (min-width: 992px) {
  .contact {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .contact .left {
    width: 80%;
    display: grid;
    justify-content: start;
    gap: 1.5rem;
  }
  .contact .left p {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) and (min-width: 992px) {
  .contact .left {
    justify-content: center;
  }
}
.contact .contact-top {
  text-align: center;
}
.contact .contact-top p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.contact .contact-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.3rem;
}
@media only screen and (min-width: 600px) {
  .contact .contact-icon {
    display: none;
  }
}
.contact .follow {
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5rem;
}
.contact .social-icon {
  display: flex;
  justify-content: space-around;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid hsla(220deg, 75%, 84%, 0.3);
}
.contact .social-icon a {
  text-decoration: none;
  color: #EC5962;
}
.contact .call-form {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  width: 100%;
  /* Large devices (laptops/desktops, 992px and up) */
}
.contact .call-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.contact .call-form form p {
  text-align: center;
  font-weight: 600;
  margin: 0;
}
.contact .call-form form input {
  height: 2.6rem;
  width: 90%;
  background: rgba(249, 205, 208, 0.3);
  border-radius: 4px;
  border: 1px solid #F6ACB0;
  padding: 0 1rem;
  font-size: medium;
  font-weight: 500;
}
.contact .call-form form input:focus {
  outline: none;
}
.contact .call-form form .callme {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  background-color: #1055db;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  align-self: center;
}
@media only screen and (min-width: 992px) {
  .contact .call-form {
    justify-content: space-evenly;
  }
  .contact .call-form .follow {
    margin: 0;
  }
  .contact .call-form form {
    align-items: start;
  }
  .contact .call-form form p {
    text-align: left;
    font-weight: 500;
  }
}
.contact h2 {
  text-align: left;
}
.contact .mail-form {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  width: 80%;
  margin: 1rem auto;
}
.contact .mail-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.contact .mail-form form p {
  margin: 0;
}
.contact .mail-form form input {
  height: 2.6rem;
  width: 90%;
  background: rgba(249, 205, 208, 0.3);
  border-radius: 4px;
  border: 1px solid #F6ACB0;
  padding: 0 1rem;
  font-size: medium;
  font-weight: 500;
}
.contact .mail-form form input:focus {
  outline: none;
}
.contact .mail-form form .row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .contact .mail-form form .row {
    flex-direction: row;
  }
}
.contact .mail-form form .callme {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  background-color: #1055db;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
}
.contact .mail-form form textarea {
  width: 100%;
  background: rgba(249, 205, 208, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #F6ACB0;
}
.contact .mail-form form textarea:focus {
  outline: none;
}
@media only screen and (min-width: 992px) {
  .contact .mail-form {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  .contact .contact-icon {
    background-color: #FFFFFF;
    display: none;
  }
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mail-form .row {
    flex-direction: row;
  }
  .contact-icon {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=Contact-style.css.map */